<nav>
  <ul>
  <li>{{link-to 'Home' 'index'}}</li>
  <li>{{link-to 'Map' 'map'}}</li>
  <li>{{link-to 'Pictures' 'pictures'}}</li>
  <li>{{link-to 'About' 'about'}}</li>
  <li>{{link-to 'Resume' 'resume'}}</li>
  </ul>
</nav>
